.icon {
  color: inherit;
  fill: currentColor;

  font-size: 1em;

  display: inline-block;
  height: 1em;
  width: 1em;

  vertical-align: middle;
}

.icon--border {
  border: .1em solid currentColor;
  border-radius: 50%;
  padding: .2em;
}