// CONFIGS
// =============================================================================
$root-font-size: 16px;

// COLORS
// =============================================================================
$color--primary: #f7941e;
$color--secondary: #ec007a;
$color--terciary: #20b7ce;

$grey--dark: #898989;
$grey--medium: #c9c9c9;
$grey--light: #eee;

$body--background-color: #fff;

$text--color: $grey--dark;

// TEXT SIZES
// =============================================================================
$body--font-size: to-rem(16px);