// CONFIGS
// =============================================================================
$root-font-size: 16px;
$container--max-width: 1140px;

// COLORS
// =============================================================================
$color--primary: #f7941e;
$color--secondary: #ec007a;
$color--terciary: #20b7ce;

$grey--dark: #898989;
$grey--medium: #c9c9c9;
$grey--light: #eee;

$body--background-color: #fff;
$text--color: $grey--dark;

// TYPO
// =============================================================================
$body--font-size: to-rem(16px);

$text--font-family: 'Open Sans', sans-serif;
$text--light: 100;
$text--normal: 400;
$text--semibold: 500;
$text--bold: 700;